

/* Ce fichier CSS reset est utilisé : https://cdn.githubraw.com/elad2412/the-new-css-reset/main/css/reset.css */

/* On active la grille de 2 colonnes quand le point de rupture est atteint */
@media (min-width: 576px) {
   .website {
    display: grid;
    grid-template-columns: 100px 1fr;
  }
}


.header,
.footer {
  grid-column: 1 / -1;
}

.navigation-list {
  display: grid;
  gap: .5rem;
}

/* Bonus : Toute la hauteur ? */
//.website {min-height: 100vh;}

/* Bonus : Centré ? */
.website {max-width: 800px; margin: 0 auto;}

/* Base */
body {
  margin: 0;
  font-size: 1rem;
  color: #212529;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}
/*Mettre du contenu dans le pied de page*/
.content:before {
    content: "Dernière mise à jour 13/02/24";
}
/* Decoration*/
ul {
  padding: 0rem;
  list-style-type: none;
}
li {
}
article {
  padding: 1rem;
}
[class*="grid"] > * {
  padding: 1rem;
}
header, footer {
  padding: 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
}
footer {
     font-size : 0.8em;}
main {
  padding: 0.5rem;
  padding-top : 1rem;
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}
aside {
  padding: 0.5rem;
  padding-top : 0.5rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.50em;
  font-weight: bold;

}
.navigation-list a {
  color: #212529;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.navigation-link {
  padding: 0rem;
  display: block;
  padding-left : 0.25rem;
}
#pgCourante {
  background: rgba(0,0,0,.15);
}
.navigation-link:hover,
.navigation-link:focus {
  background: rgba(0,0,0,.15);
}
/*figure {
  margin: 0;
}*/
.mplayer {
  padding-top : 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
.titre1 a {
  font-size : 2.5em;
} 
.titre1 a:hover {
background: rgba(0,0,0,.15);
}

.titre2 {
   font-size : 1.29em;
   font-style : italic;


}
.titrePage {
   font-family: "Lucida Console", "Courier New", monospace;	
   font-variant : small-caps;
   font-size : 1.5em;
   background: rgba(0,0,0,.15);
   margin-top : -0.5rem;
   padding-left : 0.5rem;

}
.comPage {
 font-size : 1em;
   font-style : italic;
   padding-top : 0.5rem;
}

.morceau {
   padding-top : 1rem
}
.titreMorceau {
	font-size : 1em;
	font-weight : bold;
}

.contenu {
	padding-left : 1rem ;
}
	
.commentaire {
   font-style : italic;
   padding-top : 0.5rem;
  
   }
.instru{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size : 0.8em;

}
.appelPl {
   font-family: "Lucida Console", "Courier New", monospace;
   font-size : 1em;
   margin-top : 1rem;
    

}
.appelPl a:hover {
background: rgba(0,0,0,.15);
}


/*Pour centrer les img pex*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


